<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'VerdantApp' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>db690210-2617-4162-9e6f-b658be311a28</InstrumentationKey>
</ApplicationInsights>